   # Node.js dependencies
   node_modules
   .env
   .env.*.local

   # IDE-specific files
   .idea/
   .vscode/

   # Logs
   npm-debug.log*
   yarn-debug.log*
   yarn-error.log*

   # OS-specific files
   .DS_Store
   Thumbs.db

   # Build files
   dist/
   build/
.vercel
.package-lock.json
